


<script src="https://kit.fontawesome.com/22b9c00edd.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



<body>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item">
            <%= link_to leaderboards_path do %>
              <h5 style="margin-top: 8px; margin-right: 20px; font-weight: 900; color: #D25C5C">Safary</h5>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to "Community", leaderboards_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Learn", templates_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My dashboard", dashboards_path, class: "nav-link" %>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if current_user.onboarded? %>
          <%= link_to "https://discord.com/channels/927742963323379722/927743768143212545", target: '_blank' do  %>
            <i class="fab fa-discord" id="icon" style="margin-right: 20px; margin-top: 5px;"></i>
          <% end %>
      <% end %>
        <a data-toggle="modal" data-target="#photo-modal" style="cursor: pointer;">
          <% if current_user.photo.attached? %>
             <%= cl_image_tag current_user.photo.key, width: 40, height: 40, :crop=>"fill", style: "border-radius: 100%" %>
            <% else %>
            <%= image_tag("no-photo.png", :width => 30, style: "border-radius: 100%;" ) %>
          <% end %>
        </a>
            <%= link_to destroy_user_session_path, method: :delete do  %>
              <i class="fas fa-sign-out" style="color: #687086; margin-left: 10px"></i>
            <% end %>
    </div>
  </div>
</div>

<div class="container" id="templates-container" style="text-align: center;">

<% if current_user.onboarded == true %>
<% else %>
    <div class="alert-fixed alert-warning alert-dismissible fade show" role="alert">
    <strong>🚌 Welcome to the Safary Community !</strong> Here you can meet other adventurers and climb the ladder to become a Lion 🦁</b>
    <%= link_to templates_path do %>
    <button type="button" class="button-alert">
      <span style="color: black; font-weight: 900; font-size: 15px; margin-bottom: -10px">Next</span>
    </button>
    <% end %>
  </div>
<% end %>





  <h2 style="font-weight: 900;">The Lions 🦁</h2>
  <p>Meet Web3’s top growth leaders</p>
  <hr style="height: 0px;">
  <div style="background-color: white; text-align: center; display: flex; justify-content: space-around; flex-wrap: wrap; border-top-right-radius: 10px; border-top-left-radius: 10px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
    <% User.where(lion: true).first(4).each do |user| %>
    <div style="padding: 3rem">
    <p><% if user.photo.attached? %>
        <%= cl_image_tag user.photo.key, width: 30, height: 30, :crop=>"fill", style: "border-radius: 100%;" %>
        <% else %>
        <%= image_tag("no-photo.png", :width => 30, style: "border-radius: 100%;" ) %>
    <% end %><br id="user-#{@user.id}">
    @<%= user.pseudo %>🦁<br>
    <span><%= user.job_title %></span></p>
    </div>
  <% end %>
  </div>
  <div style="background-color: white; padding-bottom: 5px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
    <p style="color: #687086; font-size: 13px">
        <a data-toggle="collapse" href="#collapseExample" style="color: #687086;" role="button" aria-expanded="false" aria-controls="collapseExample">
          See all
        </a>
      </p>
  </div>
    <div class="collapse" id="collapseExample" style="background-color: white; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
      <% User.where(lion: true).drop(4).each do |user| %>
          <div style="padding: 3rem">
          <p><% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, width: 30, height: 30, :crop=>"fill", style: "border-radius: 100%;" %>
              <% else %>
              <%= image_tag("no-photo.png", :width => 30, style: "border-radius: 100%;" ) %>
          <% end %><br>
          @<%= user.pseudo %><br>
          <span><%= user.job_title %></span></p>
          </div>
      <% end %>
  </div>
  <div class="alert alert-custom" id="alert-red" role="alert" style="width: 100%; margin-top: 20px; margin-left: 20px; z-index: 0; padding-left: 170px;">
      <div class="alert-type"> Want to climb the ladder and become a Lion ? 🦁 Comment the growth templates to win XP.</div>
  </div>
  <div style="margin-bottom: 100px">
  <h3 style="margin-top: 20px;">Adventurers</h3>
  <p>The web3 growth leaders of tomorrow</p>
  <hr>
   <% @adventurers_sort.reverse.each do |user| %>
   <% if user == current_user %>
       <div style="text-align: start; height: 65px; padding-left: 10px; display: flex; justify-content: space-between; background-color: white !important; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); padding-right: 10px; padding-top: 5px; padding-bottom: 20px; border-radius: 10px ">
    <p><% if user.photo.attached? %>
        <%= cl_image_tag user.photo.key, width: 30, height: 30, :crop=>"fill", style: "border-radius: 100%;" %>
         <% else %>
        <%= image_tag("no-photo.png", :width => 30, style: "border-radius: 100%;" ) %>
    <% end %>@<%= user.pseudo %><br>
    <span><%= user.job_title %></span></p>
    </p>
    <p style="color: #D25C5C"><%= (user.template_comments + user.guild_comments).count %> <i class="fa-solid fa-comments"></i></p>
    </div>
  <hr style="height: 0px;">

   <% elsif user != current_user && user.pseudo != "Template" && user.demo? == false %>
        <div style="text-align: start; height: 50px; margin-left: 10px; display: flex; justify-content: space-between;">
    <p><% if user.photo.attached? %>
        <%= cl_image_tag user.photo.key, width: 30, height: 30, :crop=>"fill", style: "border-radius: 100%;" %>
        <% else %>
        <%= image_tag("no-photo.png", :width => 30, style: "border-radius: 100%;" ) %>
    <% end %>@<%= user.pseudo %><br>
    <span><%= user.job_title %></span></p>
    </p>
    <p style="color: #D25C5C"><%= (user.template_comments + user.guild_comments).count %> <i class="fa-solid fa-comments"></i></p>
    </div>
  <hr style="height: 0px;">

   <% end %>
  <% end %>
  </div>
</div>

</body>


<div class="modal fade" id="photo-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change your profile photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if current_user.present? %>
         <div class="modal-body">
          <%= render template: "devise/registrations/edit" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style>


    @media (max-width: 600px) {
    .navbar {
      width: 90%;
      height: 10%;
    }

    .alert-warning {
      height: 15%;
      padding-bottom: -20%
    }

    #templates-container {
    padding-top: 50%;
    }

    .alert-type {
      text-align: center;
    }

    #alert-red {
      padding-left: 0px !important;
    }
    }
</style>


