
<head>
  <script src="https://kit.fontawesome.com/22b9c00edd.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>



<body>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item">
            <h5 style="margin-top: 8px; margin-right: 20px; font-weight: 900; color: #D25C5C">Safary</h5>
          </li>
          <li class="nav-item">
            <%= link_to "Community", leaderboards_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Learn", templates_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My dashboard", dashboards_path, class: "nav-link" %>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if current_user.onboarded? %>
          <%= link_to "https://discord.com/channels/927742963323379722/927743768143212545", target: '_blank' do  %>
            <i class="fab fa-discord" id="icon" style="margin-right: 20px; margin-top: 5px;"></i>
          <% end %>
      <% end %>
        <a data-toggle="modal" data-target="#photo-modal" style="cursor: pointer;">
          <% if current_user.photo.attached? %>
             <%= cl_image_tag current_user.photo.key, width: 40, height: 40, :crop=>"fill", style: "border-radius: 100%" %>
            <% else %>
            <%= image_tag("no-photo.png", :width => 30, style: "border-radius: 100%;" ) %>
          <% end %>
        </a>
            <%= link_to destroy_user_session_path, method: :delete do  %>
              <i class="fas fa-sign-out" style="color: #687086; margin-left: 10px"></i>
            <% end %>
    </div>
  </div>
</div>

<div class="container" id="container-show">
  <div class="row">
    <div class="col-lg-10" id="graph">

    <div class="template-title">
      <div>
        <%= link_to templates_path do %>
          <p id="back"><i class="fa-solid fa-arrow-left-long"></i> Back to the Savanna</p>
        <% end %>
        <h2 style="font-weight: 900;">Discord user acquisition <% if @guild.user != User.first %><span><%= @guild.name %></span><% end %></h2>
        <p>How fast do you grow your discord community ? <% if @guild.user != User.first %><span> <% if @guild.user.photo.attached? %><%= cl_image_tag @guild.user.photo.key, width: 20, style: "border-radius: 100%; margin-right: 5px;" %><% end %><%= @guild.user.pseudo %></span><% end %></p>
      </div>
      <div>
        <button class="button-type" data-toggle="modal" data-target="#exampleModal" >Plug your data 🔌</button>


      </div>
    </div>

    <div class="chart">
      <h6>Discord members over time <i class="fab fa-discord"></i></h6>
      <%= area_chart @data, colors: ["#D25C5C"], points: false %>
    </div>

    <ul class="nav" style="margin-top: 20px;">
      <li>
        <a class="nav-link active" id="pills-contact-tab" data-toggle="pill" href="#pills-discuss" role="tab" aria-controls="pills-discuss" aria-selected="false">Learn <% if @guild.guild_comments.present? %>(<%= @guild.guild_comments.count %>)<% end %></a>
      </li>
    </ul>
    <hr style="width: 950px; height: 0px;">
      <div class="alert alert-custom" role="alert" style="width:950px; margin-top: 20px; margin-left: 20px; z-index: 0">
          <div class="alert-type">Share your tips to grow a Discord community <b> and win XP to become a Lion 🦁</b></div>
      </div>


    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-discuss" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="comment-div">
          <h6 style="margin-bottom: 20px;"><b><%= pluralize(@guild.guild_comments.count, 'comment')%> </b></h6>
          <hr style="font-weight: 0px; color: #E3E3E4;">
          <% @guild.guild_comments.each do |comment| %>
           <p class="text-comment" id="comment-<%= comment.id %>">
          <% if comment.user.photo.attached? %>
                   <%= cl_image_tag comment.user.photo.key, width: 20, height: 20, :crop=>"fill", style: "border-radius: 100%; margin-right: 5px;" %>
          <% end %>
            <b><%= comment.user.pseudo %> <% if comment.user.lion? %>
              🦁
            <% end %></b> <span><%= comment.content %></span></p>
           <p id="time_ago"><%= time_ago_in_words(comment.created_at) %></p>
           <hr style="height: 0px; color: #9F9F9F">
          <% end %>

          <div class="project-card-create">
          <%= simple_form_for([ @guild, @comment ], remote: true) do |f| %>
            <%= f.input :content, as: :text, label: false %>
            <%= f.submit 'Add comment', class: "button-type2" %>
          <% end %>
          </div>
    </div>
      </div>

    </div>
  </div>

  <div class="col-lg-2">
    <div id="performers">
      <div>
        <%= image_tag("separation.png", :width => 4, style: "margin-right: 30px") %>
      </div>
      <div>
     <p style="margin-top: 70px"><b> Explore the wild 🦒</b></p>
     <hr style="color: #E3E3E4;">

      <%= link_to guild_path(User.first.guilds.first) do %>
          <div class="user-div">
            <p>
              Template</p>
            </div>
              <hr style="font-weight: 0px; color: #E3E3E4;">
      <% end %>


     <% if current_user.guilds.present? %>
      <%= link_to guild_path(current_user.guilds.first) do %>
            <div class="user-div">
            <p>
              <% if current_user.photo.attached? %>
               <%= cl_image_tag current_user.photo.key, width: 20, height: 20, :crop=>"fill", style: "border-radius: 100%; margin-right: 5px;" %>
              <% end %>
              My graph </p>
            </div>
              <hr style="font-weight: 0px; color: #E3E3E4;">
      <% end %>
     <% end %>

      <% @guilds.drop(1).each do |guild| %>
        <% if guild.user.present? %>

           <%= link_to guild_path(guild) do %>
            <div class="user-div">
            <p>
              <% if guild.user.photo.attached? %>
               <%= cl_image_tag guild.user.photo.key, width: 20, height: 20, :crop=>"fill", style: "border-radius: 100%; margin-right: 5px;" %>
              <% end %>
              <%= guild.user.pseudo %></p>
            </div>
              <hr style="font-weight: 0px; color: #E3E3E4;">
           <% end %>
        <% end %>
      <% end %>
      </div>
    </div>

    </div>
  </div>


</div>
</body>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Discord Safary analytics </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p><b> How to use Safary Analytics to track your Discord community ? </b></p>
      <p><span> With Safary analytics, you will be able to track your acquisition on Discord over time.</span></p>

      <h5>Step 1 : Add "Safary bot to your account" </h5>
      <p><span> You have to be admin of a server if you want to track it.</span></p>
      <a href="https://discord.com/api/oauth2/authorize?client_id=946557380886417478&permissions=8&scope=bot" target="_blank">
        <button class="button-type" style="margin-left: 10px" >
          Plug your Discord
        </button>
        </a>

      <%= image_tag("safary-bot.png", :width => 350, style: "margin-top: 5px; margin-left: 15px") %>

      <br>
      <br>
      <h5>Step 2 : SynchroniZe your data </h5>
      <p><span> Click on the button below to synchronise your data & see your graph 📈.</span></p>

      <%= link_to refresh_path, method: :post do %>
        <button class="button-type" style="margin-left: 10px" >
          Synchronize your data
        </button>
      <% end %>
      <br>
      <br>
      <h6>You are all set! Happy tracking 🤘 </h6>
      <br>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="photo-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change your profile photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if current_user.present? %>
         <div class="modal-body">
          <%= render template: "devise/registrations/edit" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

