
<head>
  <script src="https://kit.fontawesome.com/22b9c00edd.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>



<body>


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item">
            <%= link_to leaderboards_path do %>
            <h5 style="margin-top: 8px; margin-right: 20px; font-weight: 900; color: #D25C5C">🦁 Safary</h5>
            <% end %>
          </li>

          <div style="width: 400px; margin-left: 50px;">
            <%= form_tag onboardings_path, style: "display: flex; justify-content: center; text-align: center;", method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "🔍 Search use case, templates, projects..."
              %>
              <%= submit_tag "🔍 Search", class: "edit-button1" %>
            <% end %>
          </div>


          <li class="nav-item">
            <%= link_to "Use cases", use_cases_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Templates", templates3_path, class: "nav-link" %>
          <li class="nav-item">
            <%= link_to "Audiences", projects_path, class: "nav-link", style: "color: black; font-weight: 700" %>
          </li>
          <li class="nav-item">
            <%= link_to "Explore", guild_path(@guilds.first), class: "nav-link"%>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <p><%= link_to "My dashboards", dashboards3_path, class: "nav-link"%></p>
        <%= link_to profile_path do %>
          <% if current_user.photo.attached? %>
             <%= cl_image_tag current_user.photo.key, width: 40, height: 40, :crop=>"fill", style: "border-radius: 100%" %>
            <% else %>
            <%= image_tag("no-photo.png", :width => 30, style: "border-radius: 100%;" ) %>
          <% end %>
      <% end %>
            <%= link_to destroy_user_session_path, method: :delete do  %>
              <i class="fas fa-sign-out" style="color: #687086; margin-left: 10px"></i>
            <% end %>
    </div>
  </div>
</div>

<div class="container-fluid" id="templates-container2">


    <h6 style="margin-left: 200px; margin-top: 20px;">My audience </h6>
    <div style="display: flex; justify-content: start; margin-left: 200px;">
        <div class="graph-type">
          <div class="graph-title">
            <h6 style="font-weight: 700; font-size: 20px; line-height: 22px">Total wallets</h6>
          </div>
          <div>
              <h6 style="font-weight: 700; font-size: 25px; line-height: 22px; margin-top: 20px; color: #D25C5C">234 </h6>
          </div>
        </div>
        <div class="graph2">
          <div class="graph-title">
            <h6 style="font-weight: 700; font-size: 20px; line-height: 22px">Partnerships identified </h6>
          </div>
          <div>
              <h6 style="font-weight: 700; font-size: 25px; line-height: 22px; margin-top: 20px; color: #D25C5C">2 </h6>
          </div>
        </div>
      </div>

  <ul class="nav nav-tabs">
  <li class="nav-item" style="margin-left: 200px">
      <p class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" href="#">Saved audiences </p>
  </li>
  <li class="nav-item">
      <p class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Partnerships </p>
  </li>
</ul>

  <div style="display: flex; justify-content: start; margin-top: 20px;">

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <p style="color: #687086; margin-left: 200px;">Browse your audiences</p>
      <div class="use-case" style="margin-left: 200px; margin-bottom: 10px;"><i class="fa-solid fa-arrow-down-wide-short"></i> Sort: Most Recent </div>
      <div class="partner">
        <h6>Token holders</h6>
        <div class="use-case" style="margin-left: 450px;">
          <p>💌 Engage</p>
        </div>
     </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="partner">
        <div class="use-case"><%= image_tag("pegasus.jpeg", :width => 20, style: "border-radius: 100%; margin-right: 20px" ) %> Pegasus</div>
       <%= image_tag("75.png", :width => 200) %>
        <div class="use-case" style="margin-left: 250px; width: 250px">
          <p>🤝 Make partnerships </p>
        </div>
     </div>
      <div class="partner">
        <div class="use-case"><%= image_tag("kraken.jpeg", :width => 20, style: "border-radius: 100%; margin-right: 20px" ) %> Kraken</div>
        <%= image_tag("50.png", :width => 200) %>
        <div class="use-case" style="margin-left: 250px; width: 250px">
          <p>🤝 Make partnerships</p>
        </div>
     </div>
    </div>
  </div>
  </div>



</div>


</body>

<style>

.use-case :hover {
  cursor: pointer;
  background-color: white;
}

.partner {
display: flex;
justify-content: start;
padding: 20px;
width: 780px;
height: 91px;
margin-left: 200px;
top: 358px;
margin-bottom: 20px;

background: #FAFAFC;
border: 0.5px solid #E1E1E2;
/* Note: backdrop-filter has minimal browser support */

border-radius: 10px;
}

.graph-type {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  width: 200px;
  height: 120px;
  background: #FFFFFF;
  border-radius: 5px;
  border: solid;
  border-color: #E1E1E2;
  border-width: 0.5px;
}


.use-case {
font-size: 14px;
text-align: center;
padding: 6px;
width: 185px;
height: 36px;
color: #687086;

margin-top: -5px;
border: 0.5px solid #E1E1E2;
border-radius: 10px;
}


.Defi-box {
text-align: center;
padding: 6px;
color: #687086;
font-weight: bold;
margin: 10px;
width: 60px;
height: 36px;
left: 177px;
top: 209px;

background: #ECF1FF;
border-radius: 10px;
}

.acquisition-box {
text-align: center;
padding: 6px;
color: #687086;
font-weight: bold;
margin: 10px;
width: 120px;
height: 36px;
left: 177px;
top: 209px;

background: #F6F3FF;;
border-radius: 10px;
}


.form-control {
  background-color: white;
  font-size: 14px;
  border-radius: 10px;
  margin-right: 40px;
}

.edit-button1 {
  margin-left: 20px;
  margin-right: 20px;
  display: none;
}

body {
  background-color: white !important;
}

.navbar {
  box-shadow: none;
  border-bottom: solid;
  border-color: #E1E1E2;
  border-width: 0.5px;
}

li {
  font-size: 14px;
}

p {
   font-size: 14px;
}

.graph2 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  width: 200px;
  height: 120px;
  background: #FFFFFF;
  border-radius: 5px;
  border: solid;
  border-color: #E1E1E2;
  border-width: 0.5px;
}

.template-card {
  padding: 20px;
  background-color: #FAFAFC;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: solid;
  border-color: #E1E1E2;
  border-width: 0.5px;
}

.template-card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}


.templates-list {
  margin-top: 30px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 950px;
  grid-gap: 1rem;
}

















</style>
