<head>
  <script src="https://kit.fontawesome.com/22b9c00edd.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>


<% if current_user.accepted? %>

<body>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item">
            <%= link_to leaderboards_path do %>
             <h5 style="margin-top: 8px; margin-right: 20px; font-weight: 900; color: #D25C5C">Safary</h5>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Community", leaderboards_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Learn", templates_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My dashboard", dashboards_path, class: "nav-link" %>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <i class="fab fa-discord" id="icon" style="margin-right: 20px; margin-top: 5px;"></i>
          <% if current_user.photo.attached? %>
             <%= cl_image_tag current_user.photo.key, width: 40, height: 40, :crop=>"fill", style: "border-radius: 100%" %>
          <% else %>
            <a data-toggle="modal" data-target="#photo-modal">
              <%= image_tag("no-photo.png", :width => 30, style: "border-radius: 100%;" ) %>
            </a>
          <% end %>
            <%= link_to destroy_user_session_path, method: :delete do  %>
              <i class="fas fa-sign-out" style="color: #687086; margin-left: 10px"></i>
            <% end %>
    </div>
  </div>
</div>

<div class="container" id="container-show">
  <div class="row">
    <div class="col-lg-10" id="graph">

    <div class="template-title">
      <div>
        <%= link_to templates_path do %>
          <p id="back"><i class="fa-solid fa-arrow-left-long"></i> Back to the Savanna</p>
        <% end %>
        <div style="display: flex; justify-content: start;">
        <h2 style="font-weight: 900;"><%= @template.title %></h2><h6 style="margin-left: 10px; margin-top: 10px"><% if @template.user.photo.attached? %><%= cl_image_tag @template.user.photo.key, width: 20, style: "border-radius: 100%; margin-right: 5px;" %><%= @template.user.pseudo %><% end %></h6>
        </div>
        <p><%= @template.description %> <% if @template.industry.present? %><span class="tag"><%= @template.industry %></span><% end %></p>
      </div>
      <div>


      </div>
    </div>

      <% if @template.category == "audience" %>
       <div class="chart">
        <h6> Audiences by users <i class="fab fa-twitter"></i> + <i class="fab fa-discord"></i> + Custom on chain audience </h6>
        <br>
        <%= column_chart @template.audiences.group(:name).sum(:user_count).reverse_each, colors: ["#883939","#D25C5C", "#FD8989"] %>
       </div>
      <% elsif @template.category == "token" %>
        <div class="chart">
          <%= column_chart @data_token, colors: ["#D25C5C"], points: false %>
        </div>
     <% elsif @template.category == "twitter" %>
        <div class="chart">
          <%= line_chart @data_twitter_daily, colors: ["#D25C5C"], points: false %>
        </div>
      <% elsif @template.category == "nft" %>
        <div class="chart" style="height: 500px; width: 1000px; cursor: pointer;">
      <h6></h6>
      <div style="overflow: hidden; max-width: 950px;">
        <iframe scrolling="no" src="<%= @template.url %>" style="border: 0px none; margin-left: 0px; height: 1250px; margin-top: -800px; width: 950px; cursor: pointer;">
        </iframe>
    </div>
    </div>
      <% end %>
      <p style="margin-top: 20px; color: #687086; font-size: 12px; width: 950px"><%= @template.paragraph %></p>
      <div style="margin-left: 850px;">
      <% if @template.twitter_link.present? %>
        <%= link_to @template.twitter_link, target: "_blank" do %>
          <i class="fab fa-twitter" id="icon"></i>
        <% end %>
      <% end %>
       <% if @template.discord_link.present? %>
        <%= link_to @template.discord_link, target: "_blank" do %>
          <i class="fab fa-discord" id="icon"></i>
        <% end %>
      <% end %>
      <% if @template.website_link.present? %>
        <%= link_to @template.website_link, target: "_blank" do %>
          <i class="fas fa-link" id="icon"></i>
        <% end %>
      <% end %>
      </div>

    <ul class="nav" style="margin-top: 20px;">
      <li>
        <a class="nav-link active" id="pills-contact-tab" data-toggle="pill" href="#pills-discuss" role="tab" aria-controls="pills-discuss" aria-selected="false">Learn</a>
      </li>
    </ul>
    <hr style="width: 950px; height: 0px;">
    <% if @template.category == "audience" %>
        <div class="alert alert-custom" role="alert" style="width:950px; margin-top: 20px; margin-left: 20px; z-index: 0">
          <div class="alert-type">Share your tips to activate your audiences <b> and win XP to become a Lion 🦁</b></div>
        </div>
      <% elsif @template.category == "token" %>
        <div class="alert alert-custom" role="alert" style="width:950px; margin-top: 20px; margin-left: 20px; z-index: 0">
          <div class="alert-type">Share your tips to grow a tokenised community  <b> and win XP to become a Lion 🦁</b></div>
        </div>
      <% elsif @template.category == "nft" %>
        <div class="alert alert-custom" role="alert" style="width:950px; margin-top: 20px; margin-left: 20px; z-index: 0">
          <div class="alert-type">Share your tips to sale NFT  <b> and win XP to become a Lion 🦁</b></div>
        </div>
      <% end %>


    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-discuss" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="comment-div">
          <% if @template.template_tactics.present?  %>
            <div id="accordion">
              <% @template.template_tactics.reverse.each do |tactic| %>
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h3 class="mb-0" style="margin-left: 0px;">
                    <button class="btn-header" data-toggle="collapse" data-target="#tactic-<%= tactic.id %>" aria-expanded="true" aria-controls="tactic-<%= tactic.id %>">
                      <%= tactic.title %><i class="fa-solid fa-chevron-down" style="margin-left: 10px; font-weight: 900"></i>
                    </button>
                  </h3>
                  <span>by @<%= tactic.user.pseudo %></span>
                </div>

                <div id="tactic-<%= tactic.id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <p><span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </span></p>
                  </div>
                </div>
              </div>
          <% end %>
        </div>

          <% else %>

          <% end %>
          <h6 style="margin-bottom: 20px;"><b><%= pluralize(@template.template_comments.count, 'comment')%> </b></h6>
          <hr style="font-weight: 0px; color: #E3E3E4;">
          <% @template.template_comments.each do |comment| %>
           <p class="text-comment" id="comment-<%= comment.id %>">
          <% if comment.user.photo.attached? %>
              <%= link_to leaderboards_path, anchor: "user-#{comment.user.id}" do %>
                   <%= cl_image_tag comment.user.photo.key, width: 20, height: 20, :crop=>"fill", style: "border-radius: 100%; margin-right: 5px;" %>
              <% end %>
          <% end %>
            <b><%= comment.user.pseudo %> </b> <span><%= comment.content %></span></p>
           <p id="time_ago"><%= time_ago_in_words(comment.created_at) %> <% if comment.user == current_user %>
            <%= link_to edit_template_template_comment_path(@template, comment, anchor: "update_comment") do %> Edit <% end %>
           <% end %></p>
           <hr style="height: 0px; color: #9F9F9F">
          <% end %>

          <div class="project-card-create">
          <%= simple_form_for([ @template, @comment ], remote: true) do |f| %>
            <%= f.input :content, as: :text, label: false %>
            <%= f.submit 'Add comment', class: "button-type2" %>
          <% end %>
          </div>
    </div>
      </div>
      <div class="tab-pane fade" id="pills-learn" role="tabpanel" aria-labelledby="pills-home-tab">

    <div id="accordion">
      <% @template.template_tactics.reverse.each do |tactic| %>
      <div class="card">
        <div class="card-header" id="headingOne">
          <h3 class="mb-0" style="margin-left: 0px;">
            <button class="btn-header" data-toggle="collapse" data-target="#tactic-<%= tactic.id %>" aria-expanded="true" aria-controls="tactic-<%= tactic.id %>">
              <%= tactic.title %><i class="fa-solid fa-chevron-down" style="margin-left: 10px; font-weight: 900"></i>
            </button>
          </h3>
          <span>by @<%= tactic.user.pseudo %></span>
        </div>

        <div id="tactic-<%= tactic.id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <p><span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </span></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>


    </div>
  </div>

  <div class="col-lg-2">
    <div id="performers">
      <div>
        <%= image_tag("separation.png", :width => 4, style: "margin-right: 30px") %>
      </div>
      <div>
     <p style="margin-top: 70px"><b> Explore the wild 🦒</b></p>
     <p style="margin-top: -20px"><span>Browse Web3 projects</span></p>
     <hr style="color: #E3E3E4;">


      <% @templates.each do |template| %>
          <% if template.user.present? && template.category == @template.category %>

           <%= link_to template_path(template) do %>
            <% if template == @template %>
              <div class="user-div2">
                <p>
                <% if template.user.photo.attached? %>
                 <%= cl_image_tag template.user.photo.key, width: 20, height: 20, :crop=>"fill", style: "border-radius: 100%; margin-right: 5px;" %>
                  <% end %>
                <%= template.user.pseudo %></p>
                </div>
              <hr style="font-weight: 0px; color: #E3E3E4;">

            <% else %>
             <div class="user-div">
              <p>
                <% if template.user.photo.attached? %>
                 <%= cl_image_tag template.user.photo.key, width: 20, height: 20, :crop=>"fill", style: "border-radius: 100%; margin-right: 5px;" %>
                <% end %>
                <%= template.user.pseudo %></p>
              </div>
              <hr style="font-weight: 0px; color: #E3E3E4;">
            <% end %>
           <% end %>
        <% end %>
      <% end %>
      </div>
    </div>

    </div>
  </div>


</div>
</body>

<% else %>

<p>You have to wait the start of the expedition 😉</p>

<% end %>
