
<head>
  <script src="https://kit.fontawesome.com/22b9c00edd.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<% if current_user.accepted? %>


<body>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

     <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item">
            <%= link_to leaderboards_path do %>
            <h5 style="margin-top: 8px; margin-right: 20px; font-weight: 900; color: #D25C5C">Safary</h5>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "ðŸšŒ Expeditions", expeditions_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ðŸ“ˆ Dashboards", dashboard_path(current_user.dashboards.first), class: "nav-link", style: "color: black; font-weight: 700" %>
          <li class="nav-item">
            <%= link_to "ðŸŒ´ Case studies", projects_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ðŸ˜ Network", leaderboards_path, class: "nav-link" %>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= link_to profile_path do %>
          <% if current_user.photo.attached? %>
             <%= cl_image_tag current_user.photo.key, width: 40, height: 40, :crop=>"fill", style: "border-radius: 100%" %>
            <% else %>
            <%= image_tag("no-photo.png", :width => 30, style: "border-radius: 100%;" ) %>
          <% end %>
      <% end %>
            <%= link_to destroy_user_session_path, method: :delete do  %>
              <i class="fas fa-sign-out" style="color: #687086; margin-left: 10px"></i>
            <% end %>
    </div>
  </div>
</div>



<div class="container-fluid" id="templates-container2">
<%= link_to dashboard_path(current_user.dashboards.first) do  %>
  <p style="margin-left: 250px; color: #687086; font-size: 14px">< Back to dashboards</p>
<% end %>
<h3 style="color:black; font-weight: 700; margin-bottom: 40px; margin-left: 250px">ðŸ¦“ Templates</h3>

<ul class="nav nav-tabs">
</ul>



<div style="margin-left: 250px; margin-top: 40px;">

  <h6>Available templates </h6>
  <div class="templates-list">
    <div class="template-card">
      <h6 style="font-weight: 900">Discord members acquisition</h6>
      <p style="color: #687086; font-size: 12px;">Discord member growth over time</p>
      <%= image_tag("discord-acquisition.png", :width => 150, style: "margin-left: 10px;") %>
    </div>
   </div>

    <h6>Available soon </h6>
    <div class="templates-list">
    <div class="template-card2">
      <h6 style="font-weight: 900">Daily active users (wallets)</h6>
      <p style="color: #687086; font-size: 12px;">Wallet retention over time</p>
      <%= image_tag("retention.png", :width => 150, style: "margin-top: 20px; margin-left: 5px") %>
    </div>
    <div class="template-card2">
      <h6 style="font-weight: 900;">Funnel <br> Discord > Dapp</h6>
      <p style="color: #687086; font-size: 12px;">Do Discord members convert?</p>
      <%= image_tag("onboarding.png", :width => 150, style: "margin-left: 10px") %>
    </div>
    <div class="template-card2">
      <h6 style="font-weight: 900; color: black">User segmentation (Token) </h6>
      <p style="color: #687086; font-size: 12px;">% of users token holders</p>
      <%= image_tag("token-acquisition.png", :width => 110, style: "margin-top: -25px; margin-left: 20px") %>
    </div>
    <div class="template-card2">
      <h6 style="font-weight: 900">User segmentation (NFT) </h6>
      <p style="color: #687086; font-size: 12px;">% of users NFT holders</p>
      <%= image_tag("token-acquisition.png", :width => 110, style: "margin-top: -25px; margin-left: 20px") %>
    </div>
    </div>
  </div>

</div>
</body>


<div class="modal fade" id="exampleModal-templates" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>








<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Discord Safary analytics </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p><b> How to use Safary Analytics to track your Discord community ? </b></p>
      <p><span> With Safary analytics, you will be able to track your acquisition on Discord over time.</span></p>

      <h5>Step 1 : Add "Safary bot to your account" </h5>
      <p><span> You have to be admin of a server if you want to track it.</span></p>
      <a href="https://discord.com/api/oauth2/authorize?client_id=946557380886417478&permissions=8&scope=bot" target="_blank">
        <button class="button-type" style="margin-left: 10px" >
          Plug your Discord
        </button>
        </a>

      <%= image_tag("safary-bot.png", :width => 350, style: "margin-top: 5px; margin-left: 15px") %>

      <br>
      <br>
      <h5>Step 2 : Synchronize your data </h5>
      <p><span> Click on the button below to synchronise your data & see your graph ðŸ“ˆ.</span></p>

      <%= link_to refresh_path, method: :post do %>
        <button class="button-type" style="margin-left: 10px" >
          Synchronize your data
        </button>
      <% end %>
      <br>
      <br>
      <h6>You are all set! Happy tracking ðŸ¤˜ </h6>
      <br>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="photo-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change your profile photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if current_user.present? %>
         <div class="modal-body">
          <%= render template: "devise/registrations/edit" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% else %>

<p>You have to wait the start of the expedition ðŸ˜‰</p>

<% end %>

<style>

.template-card {
  padding: 20px;
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.template-card2 {
  padding: 20px;
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.template-card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

.templates-list {
  margin-top: 30px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 950px;
  grid-gap: 1rem;
}


#exampleModal-templates {
  width: 1000px;
}

.modal-content {
  width: 100%;
}

.users-metrics {
  display: flex;
  justify-content: start;
}

.filter {

text-align: center;
line-height: 32px;
height: 32px;
width: 140px;
background: #FAFAFC;
border: 1px solid #E1E1E2;
border-radius: 5px;
}

.filter2 {

text-align: center;
line-height: 32px;
height: 32px;
width: 210px;
background: #FAFAFC;
border: 1px solid #E1E1E2;
border-radius: 5px;
}


.edit-button {
  margin-top: -10px;
  margin-left: 20px;
  background-color: white;
  border: 1px solid #E3E3E4;
  font-size: 14px;
  color: #E3E3E4;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
}


.graph-title {
  display: flex;
  justify-content: flex-start;
}

.graph-type {
  padding: 25px;
  width: 410px;
  height: 180px;
  background: #FFFFFF;
  border-radius: 5px;
}

.hidden {
  padding: 25px;
  width: 410px;
  height: 400px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.hidden:hover {
  cursor: pointer;
  border: 2px dashed #687086;
}

.graph-type2 {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 25px;
  width: 850px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 5px;
}

.graph-type2:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.graph-type:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.active {
  background-color: #FDFAED !important;
  border-bottom-color: #FDFAED !important;
}

a {
  font-size: 14px;
}

    @media (max-width: 600px) {
    .navbar {
      width: 90%;
      height: 10%;
    }

    #templates-container2 {
      margin-left: 0px !important;
    }

    .alert-warning {
      height: 18%;
    }

    #templates-container {
    padding-top: 50%;
    }

    .alert-type {
      text-align: center;
    }

    #alert-red {
      padding-left: 0px !important;
    }

    .template-cards {
      width: 100%;
      grid-template-columns: 1fr;
      padding-left: 5%;
    }

    .button-type {
      display: none;
    }

    .dashboard-img {
      width: 100%;
    }
    }
</style>
