<head>
    <script src="https://tag.safary.io/stag.js"></script>
    <script src="https://kit.fontawesome.com/22b9c00edd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="navbar navbar-first">
  <div class="section0">
      <p>🦁 Batch 5 of Safary community is closing soon. <u> <a style="color: white" href="/community">Apply now <i class="fa-solid fa-arrow-right"></i></a></u></p>
  </div>
</div>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("Logo.png", width: "100px") %>
      <span>Safary</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link" href="" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Use cases <i class="fa-solid fa-chevron-down"></i></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "🏦 DeFi", defi_path, class: "dropdown-item" %>
              <%= link_to "🎮 GameFi", gamefi_path, class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to "Community", community_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Vision", vision_path, class: "nav-link" %>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
    <form class="form-inline">
    <a class="btn btn-dark" id="acces" type="button" href="https://app.safary.club/accounts/sign_in">Launch app <i class="fa-solid fa-arrow-right"></i></a>
  </form>
  </div>
</div>
  <div class="container-fluid">

  <div class="section1">
     <h1>Attribution for <br> DeFi & GameFi</h1>
      <p>Understand channel ROI, users and customer segments in web3. Bring clarity to your data and make better marketing decisions. </p>
      <a class="btn" id="request" type="button" href="https://airtable.com/shrBT7CCSQ7xktLGW" target="_blank">Request access  🚌</a>
  </div>
    <%= image_tag("hello22.png", width: "100%") %>
  <div class="section2">
    <p>Join a community of top web3 growth leaders</p>
    <div class="container">
       <div class="logos">
        <%= image_tag("uniswap.png", width: "70px", height: "70px") %>
        <%= image_tag("Ledg.png", width: "130px", style: "margin-right: 15px;") %>
        <%= image_tag("zerion.png", width: "150px", style: "margin-right: 15px;") %>
        <%= image_tag("aztec.png", width: "120px") %>
        <%= image_tag("Index.png", width: "140px") %>
        <%= image_tag("MoonPay.png", width: "120px", style: "margin-right: 15px;") %>
        <%= image_tag("Dogami.png", width: "120px") %>
      </div>

    </div>
  </div>
  </div>


<section class="section3">
  <div class="container">
    <div class="row" id="row-center">
      <div class="col-sm-12 col-lg-5">
        <div class="collapse-title">
          <h2>Answer all critical <br> marketing questions </h2>
        </div>
        <div id="accordion">
          <div class="card1">
            <div id="headingOne">
                  <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="myFunction1()">Where do my crypto users come from? </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <p>Adapt your marketing strategy based on your users geographies and sources. </p>
              </div>
            </div>
            <hr>
          </div>
          <div class="card1">
            <div id="headingTwo">
              <h5 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="myFunction2()">
                Which growth channels to invest in ?
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>Easely calculate and improve your growth experiments’s ROI. </p>
              </div>
            </div>
            <hr>
          </div>
          <div class="card1">
            <div id="headingThree">
              <h5 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick="myFunction3()">
                  Do my partners bring me Revenue?
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <p>Track the impact of your affiliate marketing partnerships with simple UTM tracking.  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4" style="margin-top: 5%;">
        <div id="first-img" class="active">
          <%= image_tag("country-img.png", width: "95%") %>
        </div>
        <div id="second-img" class="inactive">
          <%= image_tag("ROI-img.png", width: "95%") %>
        </div>
        <div id="third-img" class="inactive">
          <%= image_tag("nftt.png", width: "95%") %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section4">
    <h2>5 mins set up. No-SQL. <br> Built for no-code teams. </h2>
    <p>Starting with Safary is a piece of cake.</p>
    <a class="btn" id="request" type="button" href="https://airtable.com/shrBT7CCSQ7xktLGW" target="_blank">Request access  🚌</a>
</section>
</body>
<footer>
  <p>Safary © 2022</p>
  <a href="mailto:eliott@mail-safary.club" target="_blank">Contact</a>
  <a href="https://www.linkedin.com/company/safaryclub/" target="_blank">Linkedin</a>
  <a href="https://twitter.com/Safaryclub" target="_blank">Twitter</a>
</footer>

<style>

  span {
    color: #12877E;
    font-weight: 700;
    font-size: 16px;
  }

  @media (max-width: 600px) {
    .section4 {
      display: none;
    }

     footer {
      margin-top: 90%;
     }

     #acces {
      display: none;
     }

     h1 {
      font-size: 40px !important;
     }

     .section1 p {
      padding-left: 1% !important;
      padding-right: 1% !important;
     }

     .section1 h1 {
      padding-left: 1% !important;
      padding-right: 1% !important;
     }

     .section0 p {
      font-size: 10px;
     }

  }

  #request {
    background-color: #12877E; color: white; padding: 15px; border-radius: 10px; margin-top: 5px;
  }

  #request {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  #request:hover {
    color: #12877E;
    border-style: solid;
    border-color: #12877E;
    background-color: transparent;
    box-shadow: none;
  }


  footer {
    text-align: center;
    padding-top: 30px;
    height: 150px;
    background-color: black;
    color: white
  }

  footer a {
    color: white;
    margin-left: 20px;
  }

  .section4 {
    text-align: center;
    height: 350px;
  }

  .section1 p {
    padding-left: 35%;
    padding-right: 35%;
  }

  .btn {
    border-radius: 10px !important;
  }

  h1 {
    font-size: 55px;
    font-weight: 800;
  }

  h2 {
    font-weight: 700;
  }

  #accordion {
    width: auto;
  }

  .logos {
    text-align: center;
  }


  .navbar .nav > li {
z-index: 10000;
}


.container {
  width: 100%;
}

  .section0 {
    background-color: #456BDE;
    height: 45px;
    text-align: center;
    color: white;
    width: 100%;
    line-height: 45px;
  }

  .section1 {
    text-align: center;
    position: relative;
    margin-bottom: -15%;
    padding-top: 150px;
  }

  .section2 {
    background-color: black;
    height: 30%;
    padding-bottom: 80px;
  }

  .section2 p {
    color: white;
    text-align: center;
    padding-top: 30px;
  }

  .container-fluid {
    padding: 0px;
  }

  .navbar-first {
    padding: 0px;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
  }

  .navbar-lewagon {
    margin-top: 40px;
    overflow: visible;
  }

  .nav-link{
    color: #4C4C4C;
  }

  .mb-0 {
  padding-bottom: 10px;
  }


  .section3 {
  height: 40%;
  margin-top: 10%;
  padding-bottom: 60px;
}


.inactive {
  display: none;
}

.active {
  display: block;
}

#row-center {
  height: 400px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.card-body {
   width: 100%;
  padding-top: 10px;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
 }

.card-body p {
  color: #777581;
}

.collapse-title {
  padding-bottom: 50px;

}

.mb-0:hover {
    cursor: pointer;
}

.col {
  width: 200px;
}


</style>


<script>

  function myFunction1() {
  var a = document.getElementById("first-img");
  var b = document.getElementById("second-img");
  var c = document.getElementById("third-img");

  a.classList.remove("inactive");
  a.classList.add("active");
  b.classList.remove("active");
  b.classList.add("inactive");
  c.classList.remove("active");
  c.classList.add("inactive");

}

function myFunction2() {
  var a = document.getElementById("first-img");
  var b = document.getElementById("second-img");
  var c = document.getElementById("third-img");

  a.classList.remove("active");
  a.classList.add("inactive");
  b.classList.remove("inactive");
  b.classList.add("active");
  c.classList.remove("active");
  c.classList.add("inactive");

}

function myFunction3() {
  var a = document.getElementById("first-img");
  var b = document.getElementById("second-img");
  var c = document.getElementById("third-img");

  a.classList.remove("active");
  a.classList.add("inactive");
  b.classList.remove("active");
  b.classList.add("inactive");
  c.classList.remove("inactive");
  c.classList.add("active");
}

</script>
