<head>
    <script src="https://kit.fontawesome.com/22b9c00edd.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="navbar navbar-first">
  <div class="section0">
      <p>🦁 Batch 5 of Safary community is closing soon. Apply now <i class="fa-solid fa-arrow-right"></i></p>
  </div>
</div>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      Safary
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Community 🦁", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
  <div class="container-fluid">

  <div class="section1">
     <h1>Better understand <br> DeFi and GameFi users </h1>
      <p>Understand your growth channels, ROI, users and customer segments. <br> Bring clarity to your data. Make better business decisions.</p>
  </div>
    <%= image_tag("hello22.png", width: "100%") %>
  <div class="section2">
    <p>Join a community of top Web3 growth leaders</p>
  </div>
  </div>
</body>

<style>

  h1 {
    font-size: 55px;
    font-weight: 800;
  }

  .section0 {
    background-color: #456BDE;
    height: 45px;
    text-align: center;
    color: white;
    width: 100%;
    line-height: 45px;
  }

  .section1 {
    text-align: center;
    position: relative;

  }

  .section2 {
    background-color: black;
    height: 300px;
  }

  .section2 p {
    color: white;
    text-align: center;
    padding-top: 30px;
  }

  .container-fluid {
    padding: 0px;
  }

  .navbar-first {
    padding: 0px;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
  }

  .navbar-lewagon {
    margin-top: 40px;
  }


</style>
