<body style="text-align: center; ">

<h3 style="margin-top: 20px; font-weight: 900; color: #12877E">Safary</h3>
<div class="container" id="sign-up-container">


<h2>Back to the Safary</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs" style="margin-top: 50px">
    <%= f.input :email,
                required: false,
                autofocus: true,
                label: false,
                placeholder: "Email*",
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                label: false,
                placeholder: "Secret Code*",
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enter the Safary 🚌", class: "button-sub" %>
  </div>
<% end %>
<br>
<%= link_to "/users/auth/discord", method: :post do %>
  <button class="button-sub2">
      Log in with Discord <i class="fab fa-discord"></i>
  </button>
<% end %>
<hr>
<p>Don't have an account yet?</p>
<a href="https://airtable.com/shriqI2uduy02Gcl1"><b>Apply to next batch</b></a>


</div>
<%= image_tag("safary-backgound.png", class: "safary-img") %>
</body>

<style>

  .safary-img {
    margin-top: -400px;
    width: 100%;
    position:relative;
    z-index: -1;
  }

    @media (max-width: 600px) {
    .safary-img {
    height: 42vh;
    width: 100%;
    object-fit: contain;

    }

    .safary-img {
      margin-top: 0px;
    }

    #sign-up-container {
      width: 95%;

    }

    .button-sub {
      width: 90%;
    }

    .button-sub2 {
      width: 90%;
    }

}
</style>
