
<head>
  <script src="https://kit.fontawesome.com/22b9c00edd.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>


<body>


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item">
            <%= link_to leaderboards_path do %>
            <h5 style="margin-top: 8px; margin-right: 20px; font-weight: 900; color: #D25C5C">🦁 Safary</h5>
            <% end %>
          </li>

          <div style="width: 400px; margin-left: 50px;">
            <%= form_tag onboardings_path, style: "display: flex; justify-content: center; text-align: center;", method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Search use case, templates, projects..."
              %>
              <%= submit_tag "🔍 Search", class: "edit-button1" %>
            <% end %>
          </div>


          <li class="nav-item">
            <%= link_to "Use cases", use_cases_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Templates", dashboards_path, class: "nav-link" %>
          <li class="nav-item">
            <%= link_to "Audiences", audiences_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Explore", leaderboards_path, class: "nav-link"%>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <p><%= link_to "My dashboards", leaderboards_path, class: "nav-link", style: "color: black; font-weight: 700" %></p>
        <%= link_to profile_path do %>
          <% if current_user.photo.attached? %>
             <%= cl_image_tag current_user.photo.key, width: 40, height: 40, :crop=>"fill", style: "border-radius: 100%" %>
            <% else %>
            <%= image_tag("no-photo.png", :width => 30, style: "border-radius: 100%;" ) %>
          <% end %>
      <% end %>
            <%= link_to destroy_user_session_path, method: :delete do  %>
              <i class="fas fa-sign-out" style="color: #687086; margin-left: 10px"></i>
            <% end %>
    </div>
  </div>
</div>

<div class="container-fluid" id="templates-container2" style="margin-left: 200px;">

<h4 style="font-weight: 700;">Coinvise dashboards</h4>
        <div style="display: flex; justify-content: start;">
          <div class="use-case"><p>Dashboard</p></div>
          <div class="use-case" id="addtemp" style="background-color: #D25C5C; color: white; width: 150px; margin-left: 30px; padding: 6px; border: none; ">+ Create new graph </div>
        </div>

        <ul class="nav nav-tabs" style="margin-top: 30px; width: 900px;">
          <li class="nav-item">
              <p class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Full dashboard </p>
          </li>
          <li class="nav-item">
              <p class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">+ New dashboard</p>
          </li>
        </ul>

  <div class="users-metrics">
          <div class="graph-type">
                <div class="graph-title">
                  <h6 style="font-weight: 700; font-size: 20px; line-height: 22px">Sign_up > Wallet > transaction</h6>
                  <p style="color: #E3E3E4; font-size: 14px; margin-left: 20px;"><i class="fa-solid fa-pen"></i></i> Edit</p>
                </div>
                <div class="filter">
                  <p style="color: #9F9F9F; font-size: 14px"><i class="fa-regular fa-calendar"></i></i>  Since the start</p>
                </div>
                <div>
                  <%= image_tag("funnel3.png", :width => 350, style: "margin-top: 30px;") %>
                </div>
        </div>
  </div>
  <div class="users-metrics">
    <div class="hidden-real" style="margin-left: 25px">
      <div class="graph-title">
        <h6 style="font-weight: 700; font-size: 20px; line-height: 22px">User segmentation</h6>
        <p style="color: #E3E3E4; font-size: 14px; margin-left: 20px;"><i class="fa-solid fa-share-nodes"></i> Share</p>
        <button class="edit-button">
          Edit
        </button>
      </div>
      <div class="filter2">
        <p style="color: #9F9F9F; font-size: 14px"><i class="fa-solid fa-user"></i> Token holders ERC 20 T/F </p>
        <div class="pie" style="margin-left: 30px;" data-toggle="modal" data-target="#exampleModal-templates">
          <%= pie_chart User.group(:demo).count, colors: ["#E3E3E4", "#D25C5C"] %>
        </div>
      </div>

    </div>
    <div class="hidden" style="margin-left: 25px">
    </div>

  </div>

</div>


</body>

<div class="modal fade" id="exampleModal-templates" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a new audience</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="input-audience" type="text" placeholder="Audience name"> </input>
      <div>

      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Create audience</button>
      </div>
    </div>
  </div>
</div>

<style>



.use-case:hover {
  cursor: pointer;
  background-color: black !important;
}

.use-case {
font-size: 14px;
text-align: center;
padding: 5px;
width: 100px;
height: 36px;

margin-top: 10px;
border: 0.5px solid #E1E1E2;
border-radius: 10px;
}


#number_select {
  outline: none;
  border: 0.5px solid #E1E1E2;
  border-radius: 5px;
  background-color: #FAFAFC;
  width: 200px;
  margin-top: 15px;
  padding: 5px;

}

.ape {
  color: #687086;
  text-align: center;
  padding-left: 18px;
  margin-top: 10px;
}

.ape p {
  font-size: 12px;
}

.button-validate {
  margin-top: 20px;
  width: 95%;
  height: 50px;
  background: #D25C5C;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  font-weight: 700;
}

.appeareance-div {
display: flex;
justify-content: start;
margin-top: 20px;
width: 95%;
height: 60px;
background: #FFFFFF;
border: 0.5px solid #E1E1E2;
border-radius: 5px;
margin-bottom: 20px;
}


#slidebar {
    position: fixed;
    padding-left: 15px;
    margin-left: 80%;
    height: 100vh;
    overflow: scroll;
    width: 20%;
    margin:none;
    background-color: #FAFAFC;
    float:right;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px #00000040;


    animation-duration: 1s;
    animation-name: slidein;
}

.input-audience {
  border: none;
  background-color: #E1E1E2;
  padding: 5px;
  font-size: 14px;
  border-radius: 2px;
  width: 400px;
}

.pie:hover {
  cursor: pointer;
}


.modal-content {
  width: 100%;
}

.users-metrics {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

.filter {

text-align: center;
line-height: 32px;
height: 32px;
width: 140px;
background: #FAFAFC;
border: 1px solid #E1E1E2;
border-radius: 5px;
}

.filter2 {

text-align: center;
line-height: 32px;
height: 32px;
width: 210px;
background: #FAFAFC;
border: 1px solid #E1E1E2;
border-radius: 5px;
}


.edit-button {
  margin-top: -10px;
  margin-left: 20px;
  background-color: white;
  border: 1px solid #E3E3E4;
  font-size: 14px;
  color: #E3E3E4;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
}

.edit-button1 {
  margin-top: -10px;
  margin-left: 15px;
  background-color: black;
  border: none;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  padding: 5px;
  width: 90px;
}

.edit-button1:hover {
  background-color: #D25C5C;
}

.graph-title {
  display: flex;
  justify-content: flex-start;
}

.graph-type {
  padding: 25px;
  width: 410px;
  height: 390px;
  background: #FFFFFF;
  border-radius: 5px;
  border: solid;
  border-color: #E1E1E2;
  border-width: 0.5px;
}

.hidden {
  padding: 25px;
  width: 410px;
  height: 400px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.hidden-real {
  padding: 25px;
  width: 410px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 30px;
}

.hidden-real:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hidden:hover {
  cursor: pointer;
  border: 2px dashed #687086;
}

.graph-type2 {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 25px;
  width: 850px;
  height: 360px;
  background: #FFFFFF;
  border-radius: 5px;

}


.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 900px;
  border-bottom: solid;
  border-color: #E1E1E2;
  border-width: 0.5px;
}


.Defi-box {
text-align: center;
padding: 6px;
color: #687086;
font-weight: bold;
margin: 10px;
width: 60px;
height: 36px;
left: 177px;
top: 209px;

background: #ECF1FF;
border-radius: 10px;
}

.acquisition-box {
text-align: center;
padding: 6px;
color: #687086;
font-weight: bold;
margin: 10px;
width: 120px;
height: 36px;
left: 177px;
top: 209px;

background: #F6F3FF;;
border-radius: 10px;
}


.form-control {
  background-color: white;
  font-size: 14px;
  border-radius: 10px;
  margin-right: 40px;
}

.edit-button1 {
  margin-left: 20px;
  margin-right: 20px;
  display: none;
}

body {
  background-color: white !important;
}

.navbar {
  box-shadow: none;
  border-bottom: solid;
  border-color: #E1E1E2;
  border-width: 0.5px;
}

li {
  font-size: 14px;
}

p {
   font-size: 14px;
}


.template-card {
  padding: 20px;
  background-color: #FAFAFC;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: solid;
  border-color: #E1E1E2;
  border-width: 0.5px;
}

.template-card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}


.templates-list {
  margin-top: 30px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 950px;
  grid-gap: 1rem;
}



@keyframes slidein {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 80%;
    }
}

#number_select {
  outline: none;
  border: 0.5px solid #E1E1E2;
  border-radius: 5px;
  background-color: #FAFAFC;
  width: 200px;
  margin-top: 15px;
  padding: 5px;

}

.ape {
  color: #687086;
  text-align: center;
  padding-left: 18px;
  margin-top: 10px;
}

.ape p {
  font-size: 12px;
}

.button-validate {
  margin-top: 20px;
  width: 95%;
  height: 50px;
  background: #D25C5C;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  font-weight: 700;
}

.appeareance-div {
display: flex;
justify-content: start;
margin-top: 20px;
width: 95%;
height: 60px;
background: #FFFFFF;
border: 0.5px solid #E1E1E2;
border-radius: 5px;
margin-bottom: 20px;
}


#slidebar {
    position: fixed;
    padding-left: 15px;
    margin-left: 80%;
    height: 100vh;
    overflow: scroll;
    width: 20%;
    margin:none;
    background-color: #FAFAFC;
    float:right;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px #00000040;


    animation-duration: 1s;
    animation-name: slidein;
}

.input-audience {
  border: none;
  background-color: #E1E1E2;
  padding: 5px;
  font-size: 14px;
  border-radius: 2px;
  width: 400px;
}

.pie:hover {
  cursor: pointer;
}


.modal-content {
  width: 100%;
}

.users-metrics {
  display: flex;
  justify-content: start;
}

.filter {

text-align: center;
line-height: 32px;
height: 32px;
width: 140px;
background: #FAFAFC;
border: 1px solid #E1E1E2;
border-radius: 5px;
}

.filter2 {

text-align: center;
line-height: 32px;
height: 32px;
width: 210px;
background: #FAFAFC;
border: 1px solid #E1E1E2;
border-radius: 5px;
}


.edit-button {
  margin-top: -10px;
  margin-left: 20px;
  background-color: white;
  border: 1px solid #E3E3E4;
  font-size: 14px;
  color: #E3E3E4;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
}

.edit-button1 {
  margin-top: -10px;
  margin-left: 15px;
  background-color: black;
  border: none;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  padding: 5px;
  width: 90px;
}

.edit-button1:hover {
  background-color: #D25C5C;
}

.graph-title {
  display: flex;
  justify-content: flex-start;
}

.graph-type {
  padding: 25px;
  width: 410px;
  height: 390px;
  background: #FFFFFF;
  border-radius: 5px;
}

.hidden {
  padding: 25px;
  width: 410px;
  height: 400px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.hidden-real {
  padding: 25px;
  width: 410px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 30px;
  border: solid;
  border-color: #E1E1E2;
  border-width: 0.5px;
}

.hidden-real:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hidden:hover {
  cursor: pointer;
  border: 2px dashed #687086;
}

.graph-type2 {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 25px;
  width: 850px;
  height: 360px;
  background: #FFFFFF;
  border-radius: 5px;
  border: solid;
  border-color: #E1E1E2;
  border-width: 0.5px;

}

.graph-type2:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.graph-type:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}



a {
  font-size: 14px;
}

    @media (max-width: 600px) {
    .navbar {
      width: 90%;
      height: 10%;
    }

    #templates-container2 {
      margin-left: 0px !important;
    }

    .alert-warning {
      height: 18%;
    }

    #templates-container {
    padding-top: 50%;
    }

    .alert-type {
      text-align: center;
    }

    #alert-red {
      padding-left: 0px !important;
    }

    .template-cards {
      width: 100%;
      grid-template-columns: 1fr;
      padding-left: 5%;
    }

    .button-type {
      display: none;
    }

    .dashboard-img {
      width: 100%;
    }
    }


</style>

<script>

</script>
